body{
    background-color: burlywood;
}
button{
    color: brown;
    border-color:brown;
    background-color: bisque;
    font-family: "Geologica", sans-serif;
    padding: 5px;
}
#head{
    background-color: brown;
    color: white;
    font-family: "Geologica", sans-serif;
    padding: 50px;
    border-left: solid white 10px;
    border-radius: 5px;
    text-align: center;
    font-size: xxx-large;
}
.facility{
    padding: 30px;
    color: black;
    background-color: rgb(204, 141, 141);
    font-family: "Geologica", sans-serif;
    font-size: xx-large;
}
